ENV=development
DEBUG=True
MYSQL_DATABASE=dbname
MYSQL_USER=dbuser
MYSQL_PASSWORD=dbpass
MYSQL_ROOT_PASSWORD=Super42hardPASS
MYSQL_HOST=db #leave this as is unless you also change the name of the service in docker-compose
ROOT_DOMAIN=localhost #for production: change to the actual domain
DOMAIN=localhost #for production: change to the actual domain. this can be potentially different from root_domain if we host this thing on a subdomaine like dash.mystartup.com
PROJECT_NAME=MYPROJECT
CONTACT_EMAIL=hello@myproject.com
ACCOUNTS_EMAIL=accounts@myproject.com #email from which the system will send password confirmation emails etc.
HOST=http://localhost #for production: change to the actual domain + https
DJANGO_SECRET_KEY=Super42hardywercbd1432
DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_EMAIL=my@email.com
DJANGO_SUPERUSER_PASSWORD=4242
AZURE_GPT_ENDPOINT=xxx
AZURE_GPT_API_KEY=xxx
AZURE_GPT_DEPLOYMENT=gpt-4-32k
OPENAI_GPT_API_KEY=xxx
POSTMARK_API_TOKEN=xxx
METAPHOR_KEY=xxx
REPLICATE_API_TOKEN=xxx
IMAGEKIT_PUBLIC_KEY=xxx
IMAGEKIT_PRIVATE_KEY=xxx
IMAGEKIT_ID=xxx # the thing at the end of your url
