ENV=development
DEBUG=True
MYSQL_DATABASE=dbname
MYSQL_USER=dbuser
MYSQL_PASSWORD=dbpass
MYSQL_ROOT_PASSWORD=Super42hardPASS
MYSQL_HOST=db #leave this as is unless you also change the name of the service in docker-compose
DOMAIN=localhost #for production: change to the actual domain 
HOST=http://localhost #for production: change to the actual domain + https
DJANGO_SECRET_KEY=Super42hardywercbd1432
DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_EMAIL=george.strakhov@gmail.com
DJANGO_SUPERUSER_PASSWORD=Super42hardPASS
AZURE_GPT_ENDPOINT=xxx
AZURE_GPT_API_KEY=xxx
AZURE_GPT_DEPLOYMENT=gpt-4-32k
OPENAI_GPT_API_KEY=xxx
POSTMARK_API_TOKEN=xxx
METAPHOR_KEY=xxx
REPLICATE_API_TOKEN=ccc
IMAGEKIT_PUBLIC_KEY=ccc
IMAGEKIT_PRIVATE_KEY=ccc
